<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
        <meta charset="utf-8">
    </head>
    <body>
        sample text
        <form action="/getdata" method="GET">
            <button type="submit">데이터 불러오기</button>
        </form>
        FOR 1 datalist<br>
        <% if(locals.data){ %>
            <% for(let i=0;i<data.length;i++){ %>
                NAME : <%= data[i].name %>, AGE : <%= data[i].age %><br>
            <% } %>
        <% } %>
        FOR 2 datalist<br>
        <% if(locals.data){ %>
            <% for(let dat in data){ %>
                NAME : <%= dat.name %>, AGE : <%= dat.age %><br>
            <% } %>
        <% } %>
        FOR 3 datalist<br>
        <% if(locals.data){ %>
            <% data.forEach(function(val){ %>
                NAME : <%= val.name %>, AGE : <%= val.age %><br>
            <% }) %>
        <% } %>
    </body>
</html>